.item {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  border-top: 1px solid #333;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 0;
}

.container img {
  width: 10rem;
}

.container h4 {
  margin: 0;
}

.fa-remove {
  margin-left: 0.5rem;
}

.fa-cart {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.actions {
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #202020;
  border: 1px solid #202020;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button > span {
  display: flex;
}

.remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem !important;
  color: #701c16 !important;
  background-color: white !important;
}

.remove:hover,
.remove:active {
  color: #a83027 !important;
  background-color: white !important;
}

.add {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #19632d;
  color: white;
}
