.button {
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.badge {
  background-color: #ffffff;
  color: #202020;
  padding: 0 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
    background: #741188;
  }
  30% {
    transform: scale(1.1);
    background: #741188;
  }
  50% {
    transform: scale(1.15);
    background: #741188;
  }
  100% {
    transform: scale(1);
  }
}
