.details {
  display: flex;
}

.details img {
  width: 40%;
  height: 100%;
}

.details h1 {
  text-align: center;
}

.actions {
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #202020;
  border: 1px solid #202020;
  background-color: white;
  padding: 0.3rem;
  border-radius: 4px;
  width: 100%;
}

.actions button:last-of-type {
  margin-top: 0.5rem;
}

.actions button:hover,
.actions button:active,
.actions button.favorite:hover {
  background-color: #19632d;
  color: white;
}

.actions button.favorite {
  background-color: #4f005f;
  color: white;
}
