.container {
  position: relative;
  padding: 0.5rem;
}

.details {
  display: flex;
  column-gap: 1rem;
}

.details img {
  width: 40%;
  height: 100%;
}

.details h1 {
  text-align: center;
}

.fa-favorite {
  font-size: 2rem;
  z-index: 100;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.fa-cart {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.actions {
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #202020;
  border: 1px solid #202020;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.actions button > span {
  display: flex;
}

.actions button:hover,
.actions button:active,
.actions button.favorite:hover {
  background-color: #19632d;
  color: white;
}

.actions button.favorite {
  background-color: #4f005f;
  color: white;
}
